.elementor-38 .elementor-element.elementor-element-9cc9c1f{--display:flex;--background-transition:0.3s;}.elementor-38 .elementor-element.elementor-element-4440b7e{--divider-border-style:solid;--divider-color:var( --e-global-color-secondary );--divider-border-width:3px;}.elementor-38 .elementor-element.elementor-element-4440b7e .elementor-divider-separator{width:100%;}.elementor-38 .elementor-element.elementor-element-4440b7e .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-38 .elementor-element.elementor-element-b6b5196 .e-gallery-item:hover .elementor-gallery-item__overlay, .elementor-38 .elementor-element.elementor-element-b6b5196 .e-gallery-item:focus .elementor-gallery-item__overlay{background-color:rgba(0,0,0,0.5);}.elementor-38 .elementor-element.elementor-element-b6b5196{--image-border-color:var( --e-global-color-secondary );--image-border-width:4px;--image-border-radius:12px;--image-transition-duration:800ms;--overlay-transition-duration:800ms;--content-text-align:center;--content-padding:20px;--content-transition-duration:800ms;--content-transition-delay:800ms;}.elementor-38 .elementor-element.elementor-element-f95663f{--display:flex;--background-transition:0.3s;}
/*
     FILE ARCHIVED ON 21:15:33 Dec 16, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:15:51 Jul 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.449
  load_resource: 333.344
  PetaboxLoader3.resolve: 252.307
  PetaboxLoader3.datanode: 56.689 (2)
  loaddict: 59.849
*/