.elementor-48 .elementor-element.elementor-element-42365ce2{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--background-transition:0.3s;}.elementor-48 .elementor-element.elementor-element-1075134{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-48 .elementor-element.elementor-element-270655dc{--box-background-color:#FFFFFF;--box-border-color:var( --e-global-color-primary );--item-text-hover-decoration:underline;}.elementor-48 .elementor-element.elementor-element-270655dc .elementor-toc__header-title{text-align:start;}.elementor-48 .elementor-element.elementor-element-270655dc .elementor-toc__header{flex-direction:row;}.elementor-48 .elementor-element.elementor-element-3d9e17c1{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}@media(min-width:768px){.elementor-48 .elementor-element.elementor-element-1075134{--width:33.3333%;}.elementor-48 .elementor-element.elementor-element-3d9e17c1{--width:66.6666%;}}/* Start custom CSS for text-editor, class: .elementor-element-33bb4d8 */li{
    padding-bottom: 10px;
}/* End custom CSS */
/*
     FILE ARCHIVED ON 00:38:04 Dec 17, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:24:53 Jul 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.494
  load_resource: 366.602
  PetaboxLoader3.resolve: 298.22
  PetaboxLoader3.datanode: 52.246 (2)
  loaddict: 46.253
*/